/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body,
html {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    height: 100%
}

.wrapper {
    min-height: 70%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    min-width: 2rem;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 400px;
    max-width: 400px;
    background: #f0b9b5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -400px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f88680;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #8b8147;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #f0b9b5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f0b9b5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f0b9b5;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.apply-filter {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-color: #e6891e;
    background: #e6891e;
    color: #fff;
}

a.apply-filter:hover {
    color: #f0b9b5;
    background: #fff;
    border-color: #f0b9b5;
}

a.apply-filter:active {
    background: #f0b9b5;
    color: #fff;
    border-color: #f0b9b5;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
    box-shadow: 0px 0px 4px 4px #f0b9b550 !important;
    outline: none !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0.5rem 1rem;
    /* min-height: 100vh; */
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.range-slider div {
    background-color: #e6891e;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #ffc690;
    background: #ff9b59;
}

.custom-switch {
    padding-left: 2.25rem;
    padding-bottom: 1rem;
}

.custom-control-label {
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    height: 1.4rem;
    width: 2.5rem;
    pointer-events: all;
    border-radius: 1rem;
}

.custom-switch .custom-control-label::after {
    top: calc(0.25rem + 2px);
    left: calc(-2.25rergb(10, 255, 243));
    width: calc(1.4rem - 4px);
    height: calc(1.4rem - 4px);
    background-color: #adb5bd;
    border-radius: 2rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .custom-switch .custom-control-label::after {
        transition: none;
    }
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(1.05rem);
    transform: translateX(1.05rem);
}

.custom-control-input:focus~.custom-control-label::before {
    /* when the button is toggled off 
    it is still in focus and a violet border will appear */
    border-color: #e6891e !important;
    /* box shadow is blue by default
    but we do not want any shadow hence we have set 
    all the values as 0 */
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}


/*sets the background color of
switch to violet when it is checked*/

.custom-control-input:checked~.custom-control-label::before {
    border-color: #e6891e !important;
    background-color: #e6891e !important;
}


/*sets the background color of
switch to violet when it is active*/

.custom-control-input:active~.custom-control-label::before {
    background-color: #e6891e !important;
    border-color: #e6891e !important;
}


/*sets the border color of switch
to violet when it is not checked*/

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #e6891e !important;
}

#navbar {
    background-color: #e6891e !important;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.book-table tbody tr:nth-child(odd):hover {
    background-color: #ebc494;
}

.book-table tbody tr:nth-child(even):hover {
    background-color: #ffd5a2;
}

.book-table-bold {
    font-weight: bold;
}

.book-table-title {
    font-weight: bold;
    font-size: 1.3em;
}

.badge {
    color: white;
}

.badge:hover {
    background-color: white !important;
}

.cover-image {
    width: 100%;
    height: 8rem;
    object-fit: contain;
    overflow: hidden;
}

#apply-filter-spinner {
    color: #ffffff !important;
}

.availability,
.availability:hover {
    font-weight: bold;
    font-size: 1.0em;
    background-color: rgb(209, 66, 66) !important;
    color: white;
}

.available,
.available:hover {
    background-color: rgb(77, 218, 89) !important;
    color: white;
}

.clickable-book-info a:hover,
#detail-values li div div p a:hover {
    color: #f88680;
}

.btn-logout {
    color: white !important;
}

.footer {
    color: white !important;
    background-color: #e6891e;
}

.footer-bar {
    background-color: #ff9b59;
}

.footer-content p {
    color: white;
}