.inventory_container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    padding-right: 2.25rem;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    justify-content: space-evenly;
}

.amount-container {
    position: absolute;
    overflow: hidden;
    top: 1rem;
    right: -1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    background-color: #f0b9b5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    transition: transform 1s;
}

.amount {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    color: rgb(255, 255, 255);
    -webkit-filter: drop-shadow( 0 0 3px #ff5246);
    filter: drop-shadow( 0 0 3px #ff5246);
    z-index: 20;
}

.book_box_rarity_5 .amount-container {
    transform: scale(1);
    top: 1rem;
}

.book_box_rarity_5:hover .amount-container {
    transform: scale(1) translate(2rem, -2rem);
}

.book_box_rarity_4 .amount-container {
    transform: scale(0.8);
    top: 0.5rem;
}

.book_box_rarity_4:hover .amount-container {
    transform: scale(0.8) translate(2rem, -2rem);
}

.book_box_rarity_3 .amount-container {
    transform: scale(0.6);
    top: 0rem;
}

.book_box_rarity_3:hover .amount-container {
    transform: scale(0.6) translate(2rem, -2rem);
}

.book-container3d:hover {
    cursor: pointer;
}

.book-container3d {
    transition: transform 1s;
}

.book-focused {
    transform: scale(1.2);
}

.book-popover {
    width: 100%;
}

.book-popover-content-current {
    width: 100%;
}

.wrapper {
    padding-bottom: 20rem;
}

#detail-values li div div {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.col-md-2 {
    padding-right: 0;
}

.col-md-10 {
    text-align: right;
}

.availability {
    margin: auto;
}

.inventory-menu {
    /* height: 0.5rem; */
    white-space: nowrap;
}

.inventory-menu-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.inventory-menu-item button {
    margin-left: 0.5rem;
}

.col-form-label {
    padding-left: 0;
}

#btn-trade-up-fill-4 {
    background-color: #cc32cc;
    border-color: #cc32cc;
}

#btn-trade-up-fill-4:hover {
    background-color: #a728a7;
    border-color: #a728a7;
}

#btn-trade-up-fill-4:focus {
    box-shadow: 0 0 0 .2rem rgba(237, 38, 255, 0.5);
}

#btn-trade-up {
    background-color: #fda0cc;
    border-color: #e091b6;
}

#btn-trade-up:hover {
    background-color: #d185a9;
    border-color: #b47593;
}

#btn-trade-up:focus {
    box-shadow: 0 0 0 .2rem #fda0cb80;
}

#btn-edit-deck {
    background-color: #ee8e11;
    border-color: #ce891c;
}

#btn-edit-deck:hover {
    background-color: #c77913;
    border-color: #9e6a15;
}

#btn-edit-deck:focus {
    box-shadow: 0 0 0 .2rem #ee8e1180;
}

.trade_up_container {
    height: 20rem;
}

.book_box_rarity_trade_up {
    font-size: 27px;
    line-height: 1.0;
    padding-top: 0.75rem;
    margin: 0.0rem 0.6rem;
    width: 10rem;
    height: 8rem;
    flex: 0 0 10rem;
    padding: 0.5rem 0;
}

.book_box_rarity_trade_up .book-container3d {
    width: var(--size1);
    height: var(--size2);
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: var(--size3);
    --size1: 8rem;
    --size2: 12rem;
    --size3: 16rem;
}

.book_box_rarity_trade_up .star-container-container {
    font-size: 16px;
}