body{
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;

    /*background: linear-gradient(271deg, #ffe6e4, #ffe7cb, #ffe6e4);*/
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.font-size38 {
    font-size: 38px;
}

.square {
    display: flex;
    position: relative;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    transition: background-color 1s;
}

.square:before {
	content: "";
    display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.square:hover {
    cursor: pointer;
    background-color: #ffe6e4;
    transition: background-color 0s;
}

.rarity_container {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0,0,0,.125);
	border-radius: 10px;
    background-color: rgb(66, 66, 66);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 1rem 10%;
    padding-right: 4.0rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
}

.book_box {
    border-radius: 1rem;
}

.rarity_container::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
    margin: 0.2rem;
}

.rarity_container::-webkit-scrollbar {
	height: 0.5rem;
    width: 50%;
	background-color: rgba(0, 0, 0, 0);
}

.rarity_container::-webkit-scrollbar-thumb {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(left, #ffe6e4 0%, #f0b9b5 50%, #ffe6e4 100%);
    background-image: linear-gradient(to right, #ffe6e4 0%, #f0b9b5 50%, #ffe6e4 100%);
    margin: 0.2rem;
}

.cover-title {
    z-index: 2 !important;
    text-align: center;
    overflow: hidden;
    color: rgb(240, 240, 240);
    text-shadow: 0.5px  0.5px rgb(214, 214, 214), 
                -0.5px -0.5px rgb(175, 175, 175);
    font-family: 'Old Standard TT';
    position: relative;
}

.star-container {
    color: rgb(255, 245, 219);
    -webkit-filter: drop-shadow( 0 0 2px rgb(255, 183, 0));
    filter: drop-shadow( 0 0 2px rgb(255, 183, 0));
    z-index: 20;
}

#canvas {
    width: 100%;
    height: 20rem;
}